<% form_tag session_path, :class => 'form' do -%>
	<ul class="rounded">
	                    <li><%= text_field_tag( 'login', nil, :placeholder=>"login" )%></li>
						<li><%= password_field_tag( 'password', nil, :placeholder => 'password' )%></li>
    </ul>

<p><%= submit_tag 'Log in', :class => 'button submit' %></p>
<% end -%>
