#page {
	background-color: #FFF;	
	border: 1px solid #999;
	padding: 30px;
	margin:auto;
	margin-right: 200px;
}

#status_box {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 150px;
	border: 1px solid #999;
	padding: 10px;
	background-color:#E7E7E7;
}

#invitations  {
	margin-top: 2em;
	padding: 10px;
	border: 1px solid #999;
}

#invitations h2 {
	margin-top: 5px;
}

#invitations .status .header {
	font-weight: bold;
}

#invitations .status {
	padding: 10px;
}

.player.accepted {
	background-color: #CEFBC6;	
}

.player.rejected {
	background-color: #F7CCCC;
}

.player.accepted.overquota {
	background-color: #E72619;
	color: #FF0;
}

#closed-match {
	color: #F00;
}

