#page {
	background-color: #FFF;	
	border: 1px solid #000;
	padding: 30px;
	margin:auto;
	margin-right: 200px;
	overflow: auto;
}


#status_box {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 150px;
	border: 1px solid #000;
	padding: 10px;
	background-color:#E7E7E7;
}

#notice, #error {
	position: fixed;
	left:  10px;
	right: 10px;
	bottom: 10px;
	margin: auto;
	
	padding: 2px;
	padding: 5px;
	
	color: #30324D;
}

#notice {
	background-color: #C5FBAF;
}

#error {
	background-color: #E94F46;
}


#status_box ul {
	margin-left: 0;
	padding-left: 0;
}

#status_box ul li {
	list-style-type: none;
}

#status_box ul li a {
	display: block;
	margin-top: 2px;
	padding: 2px;
	padding-left: 4px;
	text-decoration: none;
	border: 1px solid #999;
}

#status_box ul li a:hover {
	color: #fff;
	background-color: #A4A4A4 ;
}




#invitations  {
	margin-top: 2em;
	padding: 10px;
	border: 1px solid #999;
}

#invitations h2 {
	margin-top: 5px;
}

#invitations .status .header {
	font-weight: bold;
}

#invitations .status {
	padding: 10px;
}

.player.accepted {
	background-color: #CEFBC6;	
}

.player.rejected {
	background-color: #F7CCCC;
}

.player.accepted.overquota {
	background-color: #E72619;
	color: #FF0;
}

.numeric {
	text-align: center;
}

#closed-match {
	color: #F00;
}

#spinner {
	border: 2px solid;
	background-color: white;
	font: 300% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	display: block;
	position: absolute;
	left: 40%;
	padding: 50px;
}


