<% content_for :title, 'Groups' %>
<% content_for :back, '' %>
<ul>
<% for group in @groups %>
<li class="arrow"> 
	<%= link_to group.name, group_last_match_path(group) %>
</li>
<% end %>
</ul>

<br />

<% if logged_in? %>
	<%= link_to( "logout", logout_path, :class => 'button fade') %>
<% else %>
	<%= link_to( "login", login_path, :class => 'button fade') %>
<% end %>