<h1>Users</h1>
<table>
	<tr><th>login</th><th>role</th><th>action</th></tr>
	<% for user in @users do %>
	<tr>
		<td><%=h user.login %></td>
		<td><%=h user.role.name %></td>
		<td><%= if_authorized?(:action => :edit) { link_to 'edit', edit_user_path(user) } %></td>
		<td><%= if_authorized?(:action => :destroy) { link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete } %></td>		    
	</tr>	
	<% end %>
</table>