<div class="comments">
<dl>
	<% for comment in @match.comments do %>
	<dt>On <%= comment.created_at.to_s(:date) %> <%= comment.player.name %> commented:
	<dd><pre><%= h comment.body %></pre></dd>
	<% end %>
</dl>
</div>