<ul>
<%- counter = 1 -%>
<%- invitations.each do |invitation| -%>
<li class="arrow"><%= link_to("#{counter}. #{invitation.player.name}", player_path(invitation.player)) -%></li>
<%- counter+=1 -%>
<%- end -%>
</ul>
