<h1>New match</h1>

<% form_for([@group, @match]) do |f| %>
  <%= f.error_messages %> 

  <%= render :partial => f %>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', group_matches_path(@match) %>
